.Toastify__toast-container--top-right {
    font-size: 0.5em;
}

/** Classes for the displayed toast **/
.Toastify__toast {
    font-size: 0.5em;
}
.Toastify__toast--rtl {
    font-size: 0.5em;
}
.Toastify__toast-body {
    font-size: 0.5em;
}