
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.textSection {
  margin-Top: 2em;
  margin-bottom: 2em;
  font-Size: 2rem;
  text-Align: justify;
  font-Family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

.fixedBanner {
  background-Image: url(../../public/background3.JPG);
  background-Attachment: fixed;
  background-Position: center;
  background-Repeat: no-repeat;
  border: inset 10px cyan;
        
  width: 100%;
  height: 200px;
  margin-Top: 2rem
}

.window {
  /* background-Image: url(../../public/background3.jpg);
  background-Attachment: fixed;
  background-Position: center;
  background-Repeat: no-repeat; */

  width: 200px;
  height: 300px;
  /* background: red; */
  transform: perspective(10px) rotatey(2deg);
  /* margin: 50px; */

  overflow: hidden;
}

.reactions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(100, 100, 100, 0.5)
}

.hrStyleClassic {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #fff;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}
.hrStyleClassic:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  font-style: none;
  font-family: sans-serif;
  /* padding: 0 0.25em; */
  background: teal;
}

.footerBar {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footerNote {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 1em;
}

.footerSocialMedia {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  align-content: center;
}

.pfIconsContainer {
  display: flex;
  flex-Direction: row;
  justify-Content: space-evenly;
  align-Content: space-evenly;
  width: 100%
}

.pfIcon {
  display: flex;
  flex-Direction: row; 
  justify-Content: center; 
  align-Items: center; 
  background-Color: #fff;
  
  width: 140px; 
  height: 60px
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
  
}

@media (max-width: 1200px) {
  .textSection {
    font-size: 0.75em;
    padding: 0.5em;
  }

  .footerBar {
    flex-direction: column;
  }

  .footerNote {
    width: 100%;
  }

  .footerSocialMedia {
    width: 100%;
    justify-content: center;
  }
}

/* .flexGridResponsive {
  display: flex; 
  flex-direction: row;
  background-color:burlywood;
}

@media (max-width: 800px) {
  .flexGridResponsive {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: aqua;
    width: 100%;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  
  
} */



@media (prefers-color-scheme: dark) {
  
  
}

@keyframes rotate {
  
}
